{require_otp_vsn, "R16B"}.
{erl_opts,[{parse_transform, lager_transform}]}.


{deps, [
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}}
]}.
